# Compiled Lua sources
luac.out

# luarocks build files
*.src.rock

# Object files
*.o
*.os
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

*.log
*.db

# MTA files
/mods/deathmatch/acl.xml
/mods/deathmatch/logs
/mods/deathmatch/backups
/mods/deathmatch/resource-cache
/mods/deathmatch/dumps
/mods/deathmatch/databases
/mods/deathmatch/resources/[resplay]/resplay/banlist.xml 
/mods/deathmatch/internal.db 
/mods/deathmatch/registry.db
/mods/deathmatch/resources/[admin]/adminpp/admin.db
.DS_Store